.floatBar {
    height: 244px;
    width: 65px;
    box-shadow: 0 6px 6px rgba(2, 2, 2, .17);
    right: 30px;
    top: 100px;
    background-color: white;
    z-index: 999;
    position: fixed;

}

.floatBar li {
    height: 44px;
    padding-top: 17px;
    margin: 0px 14px;
    border-bottom: 1px solid #e1e1e1;
}

.floatBar .icon {
    display: block;
    background-image: url(../images/spirits.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.floatBar .icon1 {
    width: 24px;
    height: 24px;
    background-position: 0 0;
    display: block;
}

.floatBar .icon2 {
    width: 24px;
    height: 24px;
    background-position: 0 -55px;
    display: block;
}

.floatBar .icon3 {
    width: 19px;
    height: 29px;
    background-position: -2px -114px;
    display: block;
}

.floatBar .icon4 {
    width: 24px;
    height: 24px;
    background-position: -1px -179px;
    display: block;
}

.floatBar .txt {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    position: absolute;
    display: none;
    top:13px;
    left:21px;
}

.floatBar li:hover .icon{
    display: none;
}

.floatBar li:hover .txt{
    display: block;
}